.DS_Store
.env
.bundle
Dockerfile.built
Dockerfile.log
Dockerfile.pushed
.irb-history
.bash_history
.guard_history
vendor
node_modules
npm-debug.log
Dockerfile.*.built
Dockerfile.*.log
package-lock.json
yarn.lock
Gemfile.lock
test-results.*
rspec.xml
.DS_Store
volumes
