.DS_Store
.env
.bundle
Dockerfile.built
Dockerfile.log
Dockerfile.pushed
.irb-history
.bash_history
.guard_history
vendor
node_modules
npm-debug.log
k8s/ci-n-cd/build-job-resourcetpl.yaml
k8s/ci-n-cd/build-job.yaml
Dockerfile.*.built
Dockerfile.*.log
package-lock.json
yarn.lock
Gemfile.lock
flair-client/coverage
test-results.*
rspec.xml
.DS_Store