
/* Recipes */
.orgo-form-btn {
  background-color: #6F0055;
  color: whitesmoke;
  margin: 20px 20px;
}

.orgo-card-btn {
  background-color: #6F0055;
  color: whitesmoke;
  margin-bottom: 3%
}


/* Add Recipe */

.form-btns {
  padding: 10px 10px;
  display: inline-block;
}
