#shopping-container {
  width: 500px;
  margin: 150px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0 0.1);
  border-color: 3px solid #6F0055
}

/* Home */

.jumboContainer .jumboHeaderText {
  max-width: 2500px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  margin: auto;
  width: 50%;

}

#form-container {
  width: 500px;
  margin: 150px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0 0.1);
  border-color: 3px solid #6F0055
}

/* Recipes */

.add-recipe-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../assets/recipe-image-min.jpg');
  background-position: 50% 55%;
  background-size: cover;
  opacity: 0.8;
}

.recipe-form-container {
  background-color: whitesmoke;
  display: block;
  text-align: center;
  justify-content: center;
  border-radius: 20px 20px 20px 20px;
  max-width: 40%;
  margin-top: 5%;
  margin-left: 25%;
  padding-top: 10px;
}

.recipe-form-tags {
  margin: auto;
  padding-top: 2%;
}
