#shopping-container {
  width: 500px;
  margin: 150px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0 0.1);
  border-color: 3px solid #6F0055
}

.jumboContainer .jumboHeaderText {
  max-width: 2500px;
  border-radius: 18px 18px 18px 18px;
  display: block;
  margin: auto;
  width: 50%;

}

#form-container {
  width: 500px;
  margin: 150px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0,0,0 0.1);
  border-color: 3px solid #6F0055
}
