.larder-form {
  width: 1750px;
  border-radius: 15px 15px 15px 15px;
  display: block;
  margin: auto;
  width: 50%;
  border-color: #6F0055;
  }

  #larder-text-holder {
  display: block;
  margin: auto;
  width: 70%;
  }

  /* Add Recipe */

  .recipe-form-control {
    display: inline-block;
    margin: auto auto;
    background-color: whitesmoke;
  }

  .form-title {
    text-align: center;
    color: #6F0055;
    padding: 10px 10px
  }
  .form-text {
    color: black
  }

  .cancel {
    float: left;
    margin-right: 15px;
  }

  .submit {
    float: right;
    margin-left: 15px;
  }
