  /* Recipe Form  */

  .container {
    max-width: 1000px;
    display: block;
    margin: auto;
    width: 50%;
    }

   /* Larder Form  */

   .larder-form {
    max-width: 1000px;
    display: block;
    margin: auto;
    width: 50%;
    border-color: #2980b9;
    }

    #text-holder {
    display: block;
    margin: auto;
    width: 50%;

    }

    .form-group {
       color: #cec6c6;
       border-color: #2980b9;
    }
