.card-deck {
  margin-bottom: 30px;
}

.card {
   color: #cec6c6;
   border-color: #2980b9;

}

.card-title {
  color: black;
  text-decoration-color: black;

}

.card-text {
  color: black;
  text-decoration-color: black;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.link {
  color: black;
}
.link:hover {
   color: #2980b9
}
