.navbar {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  color: whitesmoke;
  border-bottom: 1px solid #6F0055;
}

.navbar-nav {
  color: whitesmoke;
}


#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #6F0055;
}

