.navbar {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
  color: slategrey;
  border-bottom: 1px solid #2980b9;
}


#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
